body {
    margin: 0px;
}

#container{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
}
#parent_1{
    display:block;
    justify-content:space-between ;
    width:400px;
    /* margin-top: 100px; */
    /* margin-left: -1200px; */
    /* border: 1px solid red; */   
}
​
#container>div{
    width: 400px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 10px;
    color: rgb(228,29,54);
    /* border: 1px solid red; */
   
}
h5{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:rgb(80,128,25);
   margin-left: 30px;
   margin-top: -20px;
}
img{
    margin-top: 10px;
}
p{
    font-size: smaller;
    margin-top: -19px;
    color: rgb(150,150,150);
    margin-left: 30px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
    outline: none;
    border: white;
}
#one>div{
    height: 510px;
    margin-top: 20px;
    width: 510px;
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#number{
    margin-left: 50px;
    border: 1px solid;
}
label{
    margin-left: 50px;
    margin-bottom: -50px;
}
#month{
    margin-left: 50px;
}
#name{
margin-left: 50px;
}
#checkbox{
    margin-left: 50px;
}
#cvv{
   margin-left: 50px;
}
button{
    color: white;
    background-color:rgb(228,29,54);
    border-color: whitesmoke;
    width: 190px;
    height: 45px;
    border-radius: 7px;
    margin-left: 50px;
}
#one{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-left: 20px;
    margin-top: 100px;
    width:350px;
    /* border:1px solid springgreen; */
}


#billdetails{
border: 1px dashed red;
width: 400px;
height: 300px;
margin-top: 120px;

}

#billdetails>div{
display: flex;
justify-content: space-between;
font-family : Lato;
font-size:28px;
font-weight:400;
color:black;
padding-right: 20px;
margin-bottom: 20px;
}
#subt{
    margin-top: 60px;     
}


#finaltotal{
    color: rgb(228, 29, 54);
}

